.main-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.main-nav-links {
    font-family: 'Inter';
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-nav-links .-link.-home {
    font-weight: 700;
}

.main-nav-links .-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-right: 25px;
}

.search_button {
    display: flex;
    background-color: #242424;
    padding: 15px;
    border-radius: 110px;
    cursor: pointer;
    align-items: center;
}